Repository RebeccaStevens/is-immutable-type: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore, pnpm dedupe && :

.lintstagedrc.yml:

"*.{json,yml}":
  - prettier --ignore-unknown --write
  - cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

"*.ts":
  - prettier --ignore-unknown --write
  - eslint --fix
  - cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot
  - tsc-files -p tsconfig.build.json --noEmit

"*.md":
  - prettier --ignore-unknown --write
  - markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore
  - cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

"pnpm-lock.yaml":
  - "pnpm dedupe && :"

chore: remove old ava config
  .eslintrc.json
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore: update configs
  .eslintrc.json
  .vscode/settings.json
  tsconfig.json
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

test: improve test messages
  tests/simple.test.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

style: remove unnecessary eslint-disable
  src/utils.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

perf: switch to using an iterative stack
  src/calculate.ts
  src/utils.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

refactor: make more manageable
  src/calculate.ts
  src/utils.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

docs: add calculate basic docs
  src/calculate.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

perf: switch to using an iterative stack (#394)
  src/calculate.ts
  src/utils.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

chore(release): 2.0.2 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  01900e3fd6cdf72da3d61d2b5abe35b9e28fe173
Due: none

fix: infinite loop in typeToString
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/type-to-string.ts
  tests/helpers.ts
  tests/recursive.test.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit, pnpm dedupe && :

fix: remove another infinate loop
  src/type-to-string.ts
  tests/recursive.test.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

chore(release): 2.0.3 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  ff2ddc6ae82e03f3f39bbe0f244d40076a617e9e
Due: none

fix: regression in getting a type's name
  src/type-to-string.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

chore(release): 2.0.4 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  249d16500c4b8e48a931e7e5c47b71041f767590
Due: none

refactor: extract type-to-string out into its own package
  package.json
  pnpm-lock.yaml
  src/type-to-string.ts
  src/utils.ts
  tests/helpers.ts
  tests/recursive.test.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit, pnpm dedupe && :

test: split overrides into more tests
  tests/overrides.test.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

fix: improve comparison of file paths
  src/utils.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

chore(release): 2.0.5 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  60dd77bfc6c50cfbb272dcba7e51bf7568a33eb1
Due: none

test: enable disabled test
  tests/overrides.test.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

fix: update type-to-string
  package.json
  pnpm-lock.yaml
  src/utils.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit, pnpm dedupe && :

ci: fix sync label workflow permissions
  .github/workflows/sync-labels.yml
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore(release): 2.0.6 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  229c4c0e16ac28d7e759ed0bac051e4fa116f57b
Due: none

docs: small fixes
  README.md
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

feat: file specifiers can now use globs to match the file path
  package.json
  pnpm-lock.yaml
  src/calculate.ts
  src/utils.ts
  typings/typescript.d.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit, pnpm dedupe && :

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  41c2c26ae3401a1b5d9d99a4de185495c36e0bf1
Due: none

fix: use safe way of getting an identifier's text
  src/utils.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

chore(release): 2.1.1 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  5fc169e7f2b06ccb98208c2df9e98218c69059e1
Due: none

perf!: simplify how type are converted to string
  package.json
  pnpm-lock.yaml
  src/calculate.ts
  src/utils.ts
  tests/overrides.test.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit, pnpm dedupe && :

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  bf4d6570d9b3944939c04a6f3bf826a209e739ec
Due: none

feat: allow for overriding how we check if a type matches a specifier
  src/calculate.ts
  src/index.ts
  src/utils.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

chore(release): 3.1.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  0bb43570247daed5fc7c8daa81962011b8828e70
Due: none
