Repository RebeccaStevens/is-immutable-type: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore, pnpm dedupe && :

.lintstagedrc.yml:

"*.{json,yml}":
  - prettier --ignore-unknown --write
  - cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

"*.ts":
  - prettier --ignore-unknown --write
  - eslint --fix
  - cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot
  - tsc-files -p tsconfig.build.json --noEmit

"*.md":
  - prettier --ignore-unknown --write
  - markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore
  - cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

"pnpm-lock.yaml":
  - "pnpm dedupe && :"

feat: allow for ignoring types
  src/utils.ts
  tests/overrides.test.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

chore(release): 4.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  0fdfc1499877ee27a3fe8edaaf6c651a3740102f
Due: none

ci: use node 20
  .github/actions/prepare/action.yml
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore: update project setup
  .eslintrc.json
  .gitattributes
  .github/FUNDING.yml
  .github/renovate.json
  .github/workflows/lint-markdown.yml
  .github/workflows/lint-yaml.yml
  .github/workflows/release.yml
  .lintstagedrc.yml
  .markdownlint-cli2.jsonc
  .npmrc
  .vscode/settings.json
  README.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  src/calculate.ts
  src/immutability.ts
  src/is.ts
  tests/helpers.ts
  tsconfig.eslint.json
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore, pnpm dedupe && :

chore: update project setup
  .eslintrc.json
  .gitattributes
  .github/FUNDING.yml
  .github/renovate.json
  .github/workflows/lint-markdown.yml
  .github/workflows/lint-yaml.yml
  .github/workflows/release.yml
  .github/workflows/semantic-pr.yml
  .lintstagedrc.yml
  .markdownlint-cli2.jsonc
  .npmrc
  .nvmrc
  .vscode/settings.json
  README.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  src/calculate.ts
  src/immutability.ts
  src/is.ts
  tests/helpers.ts
  tsconfig.eslint.json
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore, pnpm dedupe && :

build: update deps
  .github/workflows/release.yml
  .github/workflows/typecheck.yml
  eslint.config.js
  knip.jsonc
  package.json
  pnpm-lock.yaml
  tsconfig.eslint.json
  tsconfig.json
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

fix: update deps
  .github/workflows/release.yml
  .github/workflows/typecheck.yml
  eslint.config.js
  knip.jsonc
  package.json
  pnpm-lock.yaml
  tsconfig.eslint.json
  tsconfig.json
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, pnpm dedupe && :

build: enable releases
  .github/workflows/release.yml
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

chore(release): 5.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  acbcf27642c6502918baf12bccf62cc78af6f392
Due: none

build: deps update
  knip.jsonc
  package.json
  pnpm-lock.yaml
  rollup.config.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit, pnpm dedupe && :

chore(release): 5.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  87d0c1fa4a58d92c6e3ef305b193ad8fe35f6157
Due: none

fix: pair union constituents with typeNodes by checker identity
  src/calculate.ts
  tests/unions.test.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

fix: pair union constituents with typeNodes by checker identity (#588)
  src/calculate.ts
  tests/unions.test.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

fix: match overrides by canonical type-symbol name
  src/utils.ts
  tests/overrides.test.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

fix: match overrides by canonical type-symbol name (#590)
  src/utils.ts
  tests/overrides.test.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

ci: read CI node version from .nvmrc to fix failing release
  .github/actions/prepare/action.yml
  .github/workflows/release.yml
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot

build: migrate to @rollup/plugin-typescript to unblock Node >= 22
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  src/index.ts
  tsconfig.build.json
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit, pnpm dedupe && :

refactor: change 'm_' prefix to 'mut_'
  src/calculate.ts
  src/utils.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

chore(release): 5.0.2 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  5ff9407c37a90d6c669b3e1b86e5f210d395c17d
Due: none

fix: report non-readonly index signatures as mutable when capped
  src/calculate.ts
  tests/helpers.ts
  tests/index-signatures.test.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

fix: report non-readonly index signatures as mutable when `maxImmutability` caps at `ReadonlyShallow` (#592)
  src/calculate.ts
  tests/helpers.ts
  tests/index-signatures.test.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

chore(release): 5.0.3 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  8dcad0592dc9a1d523345bcbdf6d3465d10bf9d8
Due: none

fix: resolve purely self-referential types as Immutable instead of Unknown
  src/calculate.ts
  tests/conditionals.test.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

fix: resolve purely self-referential types as `Immutable` instead of `Unknown` (#593)
  src/calculate.ts
  tests/conditionals.test.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit

chore(release): 5.0.4 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  112322a7fe264e63e2255770bdfb0278753b97f7
Due: none

fix: 636
  src/calculate.ts
  tests/intersections.test.ts
Due: prettier --ignore-unknown --write, cspell lint --no-progress --show-suggestions --show-context --no-must-find-files --dot, eslint --fix, tsc-files -p tsconfig.build.json --noEmit
